.course-card-dashboard:hover{
box-shadow: 5px 5px 30px blue;
margin-left: 1rem;
margin-right: 1rem;
}

.course-card-dashboard{
    margin-left: 0.5rem;
    border: 0.1px solid rgb(117, 117, 252);
}

.course-video:hover{
    box-shadow: 10px 10px 30px blue;
    margin-left: 1rem;
    margin-right: 1rem;
    scale: 1.01;
    }
    
