@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand";
}

.cover-image img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.studentimage img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.studentimage{
    height: 150px;
    margin-top: -8rem;
    margin-left: 5rem;
}

.dashboard-info-details {
    margin-left: 7rem;
}

.dashboard-info-details h1 {
    color: orange;
    margin-top: 8rem;
}

.courses-enrolled {
    display: flex;
    align-items: center;
    color: orange;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
}

.courses-enrolled p {
    color: black;
}

.courses-content {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 3rem;
    width: 400px;
    margin-right: .5rem;
}

.courses-content p {
    margin-top: 2rem;
}

.courses-img-data img {
    width: 300px;
    border-radius: 1rem;
}

.courses-enrolled-data {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.courses-img-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.courses-img-data:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
    border: 0.5px solid black;
    border-radius: 1rem;
    box-shadow: 10px 10px 40px black ;
}


.courses-enrolled h1,
.courses-enrolled u {
    font-size: 40px;
    color: rgb(50, 28, 85);
    margin-bottom: 2rem;
}

.courses-content p{
    margin-bottom: 2rem;
}

@media only screen and (max-width:850px) {

    .courses-img-data img {
        margin-top: .5rem;
        margin-bottom: .5rem;
        width: 200px;
    }
   
    .courses-content {
        
        margin-top: 1.5rem;
        margin-left: 2rem;
        margin-right: .5rem;
        margin-bottom: 1.5rem;
        width: 300px;
    }
  }


  @media only screen and (max-width:625px) {
    
    .courses-img-data{
        width: 300px;
    }

    .courses-enrolled h1{
        font-size: 32px;
    }
  }
