@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); */


/* 16px = 1rem */
/* If you apply  font-size: 62.5%; then  10px = 1rem*/


.login-form-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', 'sans-serif';
}



.login-form-container form {
    margin: 5rem;
    text-align: center;
    padding: 2.5rem 3.75rem;
    height: 43rem;
    width: 43rem;
    border-radius: .2rem;
    background: #fff;
}


.login-form-container form h3 {
    margin-bottom: 10px;
    font-size: 2.7rem;
    font-weight: 500;
    color: #0b0b0b;
    text-transform: capitalize;
}


.header_description span {
    font-size: 1rem;
    line-height: 1.625rem;
    display: block;
    padding: 0 3rem;
    color: #535353;
}


.input_heading {
    margin: .7rem 0 .2rem 2.8rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    color: #0b0b0b;
}

.login-form-container form .box {
    margin: 0 0 .7rem 0;
    width: 30rem;
    height: 3rem;
    font-size: 1rem;
    color: #130f40;
    border: 1px solid rgba(116, 116, 116, 0.418);
    padding: 1rem 1.2rem;
    border-radius: .2rem;
    outline: none;


}

.login-form-container form .box:focus {
    /* border-color: rgb(42, 115, 204); */
    border-color: rgb(10, 10, 129);

}


.btn {
    margin-top: 1rem;
    /* background: rgb(0, 86, 210); */
    background: rgb(10, 10, 129);
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: .3rem;
    font-weight: 500;
    width: 27rem;
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
    border: none;
}

.btn:hover {
    /* background: rgb(0, 75, 179); */
    background: rgb(11, 11, 142);

}

.footer_description {
    font-size: 1rem;
    color: #666;
}


.footer_description a {
    color: rgb(0, 86, 210);
    text-decoration: none;
}



.password_hint {
    font-size: 13px;
    text-align: left;
    margin-left: 2.9rem;
    width: auto;
}


.forgot {
    color: rgb(42, 115, 204);
    cursor: pointer;
    font-size: inherit;

}


.divider {
    margin: 2rem;
    height: 1px;
    border: none;
    background-color: rgb(225, 225, 225);
}