@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app_content {
    background-color: rgba(163, 163, 163, 0.116);
}

div {
    font-family: 'Poppins', 'sans-serif';   
}

.quicksand{
    font-family: 'Quicksand';
}

