@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section1 {
  width: 97%;
  margin: 2rem;
  color: rgb(13, 13, 128);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.heading-1 {
  font-size: 34px;
  font-weight: 100;
  font-family: 'Quicksand', sans-serif;
  margin: 2rem;
}

.heading-2 {
  font-size: 52px;
  font-weight: 100;
  margin-top: -2rem;
  font-family: 'Quicksand', sans-serif;
  margin: 2rem;
}

.heading-2 span {
  font-weight: 600;
  font-family: sans-serif;
}

.heading-3 {
  font-size: larger;
  margin: 2rem;
}

.btn {
  background-color: rgb(10, 10, 129);
  width: 10rem;
  height: 2.5rem;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 800;
  font-family: 'Quicksand', sans-serif;
  margin: 2rem;
}

.content1 {
  width: 50%;

}

.content2 {
  width: 50%;
  display: flex;
  justify-content: center;

}

.laughing-women {
  height: 350px;
  width: 350px;
  border-radius: 1rem;
  margin-top: 2rem;
}


.section2 {
  width: 97%;
  margin: 2rem;
  color: rgb(13, 13, 128);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
}

.section2_cards {
  margin: 1rem;
  width: 290px;
  padding: 0.3rem;
  margin-bottom: 2rem;
}

.section2_cards:hover {
  border: 2px solid rgb(13, 13, 128);
  border-radius: 0.5rem;
}

.section2_cards p {
  color: grey;
  margin-top: 2rem;
}

.section3 {
  width: 90%;
  margin: 3rem;
  color: white;
  margin-bottom: 5rem;
  font-family: 'Quicksand', sans-serif;
}

.section3 h1 {
  color: rgb(13, 13, 128);
  margin-left: 38%;
  font-size: 40px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.section3cards {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  width: 350px;
  margin-bottom: 2rem;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(13, 13, 128));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}


.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.section4 {
  width: 97%;
  color: rgb(13, 13, 128);
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section4cards {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3rem;
}

.section4_cards {
  width: 300px;
  height: 500px;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  margin-left: 3.5rem;
}

.section4_cards img {
  width: 300px;
  height: 350px;
  border-radius: 0.5rem;
}

.sec4content {
  width: 97%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.sec4content p {
  margin-top: 1rem;
  margin-left: 10rem;
  font-size: 14px;
}

.section4_cards h5 {
  color: rgb(140, 140, 248);
}

.section4_cards p {
  margin-top: 1rem;
  color: rgb(115, 115, 199);
}

.section5 {
  width: 97%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}

.section5-part1,
.section5-part2,
.section5-part3 {
  width: 350px;
  height: 500px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.section5-part2 img {
  width: 350px;
  height: 500px;
  border-radius: 1rem;
}

.section5-part1 {
  color: rgb(13, 13, 128);
  font-family: 'Quicksand', sans-serif;
}

.section5-part1 p,
.section5-part1 h1,
.section5-part1 h4 {
  margin-top: 2rem;
}

.section5-part3 img {
  width: 350px;
  height: 235px;
  border-radius: 1rem;
}

.section5-part3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width:850px) {

  .content1,
  .content2 {
    width: 90%;
    margin-bottom: 2.5rem;
  }

  .section {
    margin: 1.5rem;
  }

  .section3 h1 {
    margin-left: 35%;
  }
}

@media only screen and (max-width:735px) {
  .section3 h1 {
    margin-left: 25%;
  }

  .section4_cards {
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width:555px) {

  .section3 h1 {
    margin-left: 15%;
  }

  .section2,
  .section3,
  .section4 {
    margin: .5rem;
  }

  .section4_cards {
    margin: -1.5rem;
    margin-bottom: 1.5rem;
  }

  .section3 h1 {
    font-size: 25px;
  }

  .sec4content p {
    margin-left: 9rem;
  }
}

@media only screen and (max-width:484px) {

  .sec4content h1 {
    font-size: 25px;
  }

  .sec4content p {
    margin-left: 9rem;
  }
}